<div  class="container-fluid">
<div class="row">
<div class="col-sm-3"> Book Restaurant </div>
<div class="links col-sm-3"> Locations 
  <ul>
    <li> Chennai </li>
    <li> Hyderabad </li>
    <li> Mumbai </li>
    <li> Delhi </li>
    <li> Vijayawada </li>
  </ul>
</div>
<div class="links col-sm-3"> Our Services 
  <ul>
    <li> Outdoor Catering </li>
    <li> Chef Training</li>
    <li> Conferences</li>
    <li> Parties</li>
    <li> Weddings</li>
  </ul>
</div>
<div class="links col-sm-3"> Get In touch<ul></ul>
  <p> 85 Airedale Street, Auckland CBD </p>
  <p> Auckland 1010, New Zealand</p>
</div>
</div>
</div>